{{>header}}
<div class = "menuItem">
    <p>Game over.</p>
    <p>Your highest target tile was: </p>
    <p id = "highestTileText"></p>
    <p>You ended the game with:</p>
    <p id = "rawScoreText"></p>
    <p>Here's your final score: </p>
    <p id = "scoreText"></p>
    <br>
    <p>If you wish to submit your score to the leaderboard,</p> 
    <p>please enter your name below and press submit:</p>
    <input id="inputName" type="text" maxlength="10"/>
    <br>
    <br>
    <button onclick="submitScore()">Submit</button>
</div>
<script>
        summaryPage();
</script>
<div class="menuItem" id="goBack">
    <button onclick="restart()">Restart</button>
    </div>
{{>footer}}